.tittle--shoes {
    display: none;
    visibility: hidden;
}
.title--pag-deptos {
    display: none;
}
/*------------------------------------*/
/*    MOBILE DEPARTAMENTO HOMBRE      */
/*------------------------------------*/
@media screen and (max-width: 900px) {
  .title {
      font-size: 25px;
      width: 75%;
      margin: 50px auto 7px;
      color: black;
      font-weight: 600;
  }
  .container {
      padding-bottom: 0;
  }
  .container--shoes {
      padding-bottom: 0;
  }
}

/*Contenedores Product*/
.tittle--shoes {
    display: none;
    visibility: hidden;
}
.title--vitrineP {
    margin: -36px 0 0 0 !important;
    padding-top: 2%;
    text-transform: initial;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #033A5F;
}

.title--vitrineP::after {
    width: 24px;
    height: 24px !important;
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/iconSun-maravela.png) no-repeat;
    background-size: 100%;
    display: block;
    height: 0px;
    align-items: center;
    margin: 0 0 0 2%;
}
.title--vitrineP::before {
    width: 24px;
    height: 24px !important;
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/iconSun-maravela.png) no-repeat;
    background-size: 100%;
    display: block;
    height: 0px;
    align-items: center;
    margin: 0 2% 0 0;
}
.relatedProducts--vitrineP {
    background: #fafafa;
}

.relatedProducts--vitrineP {
    padding-bottom: 5%;
}
.dotsContainer {
    display: none;
}