@media screen and (max-width: 900px) {

  .sellingPriceValue {
    font-size: 14px;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--lateralColM) .sellingPriceValue {
    font-size: 25px;
  }
  .currencyContainer.currencyContainer--vitrinaP {
    font-size: 11px;
    color: #CECECE;
  }
}
.listPriceValue
{
  font-size: 18px;
  color: #b0b0b0;
  padding: 1% 0;
  display: block;
}

.currencyContainer--vitrinaP {
  font-size: 12px;
  color: #494949;
  margin: 0 0 0 5px;
}

@media screen and (min-width: 700px) and (max-width: 1026px) {

  .currencyContainer.currencyContainer--summary {
    font-size: 1.1rem;
}
  }
